*~
*.1
*.8
*.buildinfo
*.changes
*.ddeb
*.deb
*.dmg
*.dsc
*.exe
*.o
*.pkg
*.rpm
*.spec
*.tar.gz
*.tar.xz
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.log
config.status
configure
depcomp
install-sh
make_dmg.sh
Makefile
Makefile.in
missing
moc_*
debian/changelog
debian/control
src/lwcap/lwcap
src/lwcast/lwcast
src/lwmaster/lwmaster
src/lwmastermon/lwmastermon
src/lwmon/lwmon
src/lwmultcap/lwmultcap
src/udpmon/udpmon
tmp

